<div class="form">
    <h2 id="loginForm">Login Form</h2>
    <form  [formGroup]="loginForm"  (ngSubmit)="onSubmit(loginForm.value)">
        <div *ngIf="err">
            <br>
            <app-widget-error class = "error" [error]="err"></app-widget-error>
            <br> 
        </div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter your email">

        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter your password">

        <input type="submit" value="Submit" id="btn">
    </form>
</div>
