
<div *ngIf="isFullScreen" class="fullscreen-image" (click)="toggleFullScreen()" style="height: 100vh; width: 100vw;">
    <img [src]="'data:image/png;base64,' + advert.images[currentSlide]" style="object-fit:cover;" alt="">
</div>
<div class="first-container">


        <h1 class="centered-heading">{{advert.brand}} {{advert.model}}</h1> 
        <h3 style="grid-row: 9; grid-column: span 2; text-align: center;">{{this.currentSlide + 1}} / {{this.advert.images.length}}</h3>
        <div class="carousel-container"> 
                <button class="picture-button" style="width: 50%; height: 50%; justify-content: space-around;" (click)="prevSlide()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                      </svg>
                </button>
                <div style="width: 100%; height: 100%; display: flex; justify-content: center;">
                <img style=" justify-content:space-evenly; object-fit:contain;"  [src]="'data:image/png;base64,'+advert.images[currentSlide]" alt="" class="pic" (click)="toggleFullScreen()"> 
                </div>
                <button class="picture-button" style="width: 50%; height: 50%;" (click)="nextSlide()">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </button>
        </div>
        

       


    <div class="description-container" style="overflow-y:auto;height: 100%; border-radius: 10px;">
        <h3 style="text-align: center;">Description</h3>
        <p class="styled-paragraph" style=" text-align: left; " >{{advert.description}}</p>
    </div>
        <div class="table-container" style="text-align: left; width:100%;">
            <h3 style="text-align: center;">Key Characteristics</h3>
            <table class="table" style="width: 100%; border-radius: 5px;">
            <thead style="border-radius: 10px;">
                <tr>
                <th>Characteristic</th>
                <th>Value</th>
                <!-- Add more headers as needed -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Brand</td>
                    <td>{{advert.brand}}</td>
                </tr>
                <tr>
                    <td>Model</td>
                    <td>{{advert.model}}</td>
                </tr>
                <tr>
                    <td>Year of manufacturing</td>
                    <td>{{advert.dateOfManufacturing.substring(0,4)}}</td>
                </tr>
                <tr>
                    <td>Engine</td>
                    <td>{{advert.engine}}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{advert.price}}</td>
                </tr>
                <tr>
                    <td>owner name</td>
                    <td>{{owner.firstName}} {{owner.secondName}}</td>
                </tr>
                <tr>
                    <td>Owner email</td>
                    <td>{{owner.email}}</td>
                </tr>
            </tbody>
            </table>
        </div>
   
</div>

<div class="previously-opened-container" >
    <h1 style="text-align: center;">Previously viewed adds</h1>
    <ng-container class="opened-adds" *ngIf="recentlyViewedAdverts.length==0">
        <h1>You haven't view any adverts before</h1>
    </ng-container> 
    <div class="opened-adds" style="background-color: steelblue;" *ngIf="recentlyViewedAdverts.length > 0">
        <div class="row-container" *ngFor="let advert of this.recentlyViewedAdverts">
                <div class="advert-inside-container" (click)="onAdvertClicked(advert.id)">
                    <div class="advert-image" style="border: 2px solid;" >
                        <img [src]="'data:image/png;base64,'+advert.images[0]" alt="Img">
                    </div>
                    <div class="advert-description" style="border: 2px solid;">
                        <h1>{{ advert.brand }} {{advert.model}}</h1>
                        <strong style="text-align: left;">Price: {{advert.price }}</strong>
                    </div>
                </div>
        </div>
    </div>
</div>


<!-- <div class="previously-opened-container">
    <h1 style="text-align: center;">Previously viewed adds</h1>
    <ng-container class="opened-adds" *ngIf="recentlyViewedAdverts.length == 0">
        <h1>You haven't viewed any adverts before</h1>
    </ng-container>
    <div class="opened-adds" *ngIf="recentlyViewedAdverts.length > 0">
        <div class="row-container" *ngFor="let advert of recentlyViewedAdverts">
            <div class="advert-inside-container" (click)="onAdvertClicked(advert.id)">
                <div class="advert-image">
                    <img [src]="'data:image/png;base64,'+advert.images[0]" alt="Img">
                </div>
                <div class="advert-description">
                    <h1>{{ advert.brand }} {{ advert.model }}</h1>
                    <strong>Price: {{ advert.price }}</strong>
                </div>
            </div>
        </div>
    </div>
</div> -->

