
<div class="firstContainer" style="background-color: steelblue; border: solid 2px; border-color: black;">
    <div class="gridRowOne filterContainer">
        <div class="vertical-container" style="grid-column: 1; grid-row: 1;">
            <label>Brand</label>
            <select name="fruit" formControlName="brand" style="border-radius: 5px;" (change)="onBrandSelect($event)">
                <option value="null">any</option>
                <option *ngFor="let brand of brands" value="{{brand}}">{{brand}}</option>
            </select>
        </div>
        <div class="vertical-container" style="grid-column: 1; grid-row: 2;">
            <label>Model</label>
            <select name="model" formControlName="model" style="border-radius: 5px;" (change)="onModelSelect($event)">
                <option value="null">any</option>
                <option *ngFor="let model of models" value="{{model}}">{{model}}</option>
            </select>
        </div>
        <div class="vertical-container" style="grid-column: 3; grid-row: 1;">
            <label>Order by</label>
            <select style="border-radius: 5px;" (change)="onOrderSelect($event)">
                    <option value="" selected>Ascending price</option>
                    <option value="desc">Descending price</option> 
            </select>
        </div>
        <div class="vertical-container" style="grid-column: 2; grid-row: 1;">
            <label>From price</label>
            <input style="border-radius: 5px;" type="number" id="quantity" name="quantity" min="0" step="1" value="0" (input)="OnFromPriceSelect($event)">
        </div>
        <div class="vertical-container" style="grid-column: 2; grid-row: 2;">
            <label>To price</label>
            <input style="border-radius: 5px;" type="number" id="quantity" name="quantity" min="0" step="1" (input)="OnToPriceSelect($event)">
        </div>
        <div style="grid-column: 3; grid-row: 2; display: flex; justify-content: center;">
            <button class="search-button" style="border-radius: 5px; width: 100%; cursor: pointer;" (click)="applyFilter()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg></button>
        </div>
    </div>
    <div class="gridRowTwo mainContainer" style="border: solid 2px; border-color: black;">
        <div class="advert" style="height: 45vh;" *ngFor="let advert of adverts">
            <div class="advert-inside-container" style="background: whitesmoke; border: 2px solid black;" class="advertInfo div-clickable" (click)="onAdvertClicked(advert.id)">
                <div class="advert-image mainContainerColumnOne" >
                    <img [src]="'data:image/png;base64,'+advert.images[0]" style="width: 400px; height: 300px;" alt="Img">
                </div>
                <div class="advertDescription mainContainerColumnTwo">
                    <div class="brand" style="grid-row: 1;"><h1>{{ advert.brand }} {{advert.model}}</h1></div>
                    <div class="description" style="grid-row-start: 2;grid-row-end: 4;">
                        <span class="truncate-text">{{ advert.description }}</span>
                    </div>
                    <div class="price" style="grid-row: 4;">
                        <strong style="float: right;">Price: {{advert.price }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gridRowThree navigationContainer" >
        <div style="grid-column: 1; text-align: center;">
        <p>Number of adverts per page:</p>
            <select  (change)="onOptionSelect($event)" style="width: 50%; border-radius: 5px;">
                <option value="3" selected>3</option>
                <option value="6">6</option> 
                <option value="9">9</option>
            </select>  
        </div>
        <div style="grid-column-start: 2; grid-column-end: 3; text-align: center;">
            <!-- -->

        <nav th:fragment="navbar" style="width: 100%; "  class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav"  style="border-radius: 5px; border: 2px solid black;">
                    <li class="nav-item active">
                        <a class="nav-link" (click)="firstPageEvent()">First page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="previousPageEvent()" >Previous page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">{{currentPage}}/{{totalPages}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="nextPageEvent()">Next page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="lastPageEvent()">Last page</a>
                    </li>
                </ul>
            </div>
        </nav>
            <!----> 
        </div>
    </div>
</div>