.gridRowOne{
    grid-row: 1;
}
.gridRowTwo{
    grid-row-start: 2;
    grid-row-end: 8;
}
.gridRowThree{
    grid-row: 8;
}
.advertInfo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.advertDescription{
 display: grid;
 grid-template-rows: repeat(4,1fr);
}
.advert{
    transition: all 1s ease-in-out;
}
.advert:hover{
    color: aliceblue;
}
.search-button{
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: steelblue;
}
.search-button:hover{
    background-color: white;
    transform: scale(1.05);
}
.truncate-text {
    display: block; /* Use block-level display */
    height: 150px;; /* Set the maximum height to limit the text */
    overflow-y:hidden; /* Enable vertical scrolling if content overflows */
    white-space: normal; /* Allow text to wrap */
    text-overflow: ellipsis;
}
.filterContainer{
    background-color: steelblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.vertical-container{
 display: flex; 
 flex-direction: column;
}
.navigationContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: steelblue;
}
.mainContainer{
    display: inline-block;
    height: auto;
    overflow-y: auto;
    background-color: grey;
}
.mainContainerColumnOne{
    grid-column: 1;
}
.mainContainerColumnTwo{
    grid-column: 2;
}
div{
    padding: 5px;
}
.div-clickable:hover{
    color: #1abfd1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.div-clickable{
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.firstContainer{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-bottom: 10%;
    
    resize: horizontal;
    width:70vw;
    height:90dvh;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f27d3;

    display: flex;
    flex-direction: row; /* Display the items horizontally */
    justify-content: flex-start; /* Align items to the left */
    align-items: center; /* Vertically center items */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #21b4ce;
  }
  .nav-link:hover {
    cursor: pointer;
  }


