
<div class="firstContainer">
    <div class="gridRowOne filterContainer" style="background-color: red;">
        <div style="grid-column: 1; grid-row: 1;">
            
        </div>
    </div>
    <div class="gridRowTwo mainContainer" style="background: green;">
        <div class="advert" style="height: 45vh;" *ngFor="let advert of adverts">
            <div style="background: whitesmoke; border: 2px solid black;" class="advertInfo">
                <div class="advert-image mainContainerColumnOne" >
                    <img [src]="'data:image/png;base64,'+advert.images[0]" style="width: 400px; height: 300px;" alt="Img">
                </div>
                <div class="advertDescription mainContainerColumnTwo">
                    <div class="brand" style="grid-row: 1;"><h1>{{ advert.brand }} {{advert.model}}</h1></div>
                    <div class="description" style="grid-row-start: 2;grid-row-end: 4;">
                        <span class="truncate-text">{{ advert.description }}</span>
                    </div>
                    <div class="price" style="grid-row: 4;">
                        <strong style="float: right;">{{advert.price }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gridRowThree navigationContainer" style="background: blue;">
        <div style="grid-column: 1; text-align: center;">
        <p>Number of adverts per page:</p>
            <select  (change)="onOptionSelect($event)" style="width: 50%; border-radius: 5px;">
                <option value="3" selected>3</option>
                <option value="6">6</option> 
                <option value="9">9</option>
            </select>  
        </div>
        <div style="grid-column-start: 2; grid-column-end: 3; text-align: center;">
            <!-- -->

        <nav th:fragment="navbar" style="width: 100%; "  class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav"  style="border-radius: 5px; border: 2px solid black;">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home/1?pageNumber=1">First page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Previous page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Current page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Next page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Last page</a>
                    </li>
                </ul>
            </div>
        </nav>
            <!----> 
        </div>
    </div>
</div>