ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  .rightButton{
    float: right;
  }
  .leftButton{
    float: left;
  }
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  .outer-container{
    background-color: steelblue;
    width: 100dvw; /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
    overflow-y: hidden;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
  }
  .content-container{
    display: flex;
    align-items: center;
    overflow-y:hidden;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    height:100%;
    padding: 1%;
    color: #000;
  }
  li a:hover {
    background-color:midnightblue;
  }
  .nameButton{
    color: white;
    display: block;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }