<div class="outer-container">
  <nav>
    <ul>
      <li class="leftButton"><a [routerLink]="['advert']" routerLinkActive="active" ariaCurrentWhenActive="page">Adverts</a></li>
      <li class="leftButton"><a [routerLink]="['createAdvert']" routerLinkActive="active" ariaCurrentWhenActive="page">Create adverts</a></li>
      <li class="rightButton"><a [routerLink]="['login']" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
      <li class="rightButton"><a [routerLink]="['register']" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
    </ul>
  </nav>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>

</div>