
<form   [formGroup]="createAdvertForm"
        (ngSubmit)="onSubmit(createAdvertForm.value)">
        <div class="headerContaienr">
            <h1>Create advert</h1>
        </div>

        <div class="gridRowTwo gridColumnone"
            style="position: relative; top: 1px; right: 1px;">
            <label>Pictures</label>
            <div formArrayName="images">
                <ng-container *ngFor="let image of createAdvertForm.get('images')['controls']; index as i">
                    <span style="display: flex;
                                 border: 2px solid; 
                                 padding: 1px ;
                                 margin: 1px; 
                                 border-color: black;
                                 width: 100%;">
                        <input type="file" multiple class="form-control-file" (change)="onFileSelected($event)"  accept="image/*" formControlName="{{i}}"/>
<!--                        <button type="button" (click)="deleteImageInput(i)" style="background-color: red;">delete</button> -->
                    </span>
                </ng-container>
            </div>
            <!-- <button type="button" (click)="addAnotherImage()">Add another image</button> -->
        </div>

        <div class="gridRowTwo gridColumnTwo">
            <label>Brand*</label>
            <select (change)="onBrandSelect()" name="fruit" formControlName="brand" [(ngModel)]="formData.brand">
                <option *ngFor="let brand of brands" value="{{brand}}">{{brand}}</option>
            </select>
        </div>

        <div class="gridRowThree gridColumnTwo">
            <label >Model*</label>
            <select  id="fruit" name="fruit" formControlName="model" [(ngModel)]="formData.model">
                <option *ngFor="let model of models" value="{{model}}">{{model}}</option>
            </select>
        </div>

        <div class="gridRowThree gridColumnone">
        <label>Engine*</label>
        <input type="text" formControlName="engine" [(ngModel)]="formData.engine">
        </div>

        <div class="gridRowFour gridColumnone">
            <label>Price*</label>
            <input type="number" formControlName="price" min="0" pattern="\d+" [(ngModel)]="formData.price">
        </div>

        <div class="gridRowFour gridColumnTwo">
            <label>Date of manufacturing*</label>
            <input type="date" formControlName="dateOfManufacturing" [(ngModel)]="formData.dateOfManufacturing">
        </div>
        <div class="descriptionContainer">
            <label>Description</label>
            <textarea   formControlName="description"
                        placeholder="Enter additional data" [(ngModel)]="formData.description"></textarea>
        </div>
        
        <div class="tooltip" style="display: flex;align-items: center;">
            <!-- <button type="submit" [disabled]="!createAdvertForm.valid" id="btn">Save</button> -->
            <button class="additional-fields-button" type="button" (click)="openAditionFields()">Additional information</button>
            <input class="submit-button" style="width: 100%;" type="submit" value="Save" id="btn" [disabled]="createAdvertForm.invalid"/>
         
        </div>


        <!-- <input class="submit-button" type="submit" value="Save" id="btn" [disabled]="createAdvertForm.invalid"/> -->


        <div *ngIf="showAdditionalFields" class="modal-overlay" ></div>

        <div *ngIf="showAdditionalFields" class="modal-container">
            <div class="modal-grid">
                <div class="grid-item heading" style="grid-column: span 3;">
                    <h2>Additional Fields</h2>
                </div>
                <div class="grid-item">
                    <label for="select1">Gearbox</label>
                    <select formControlName="gearbox" [(ngModel)]="formData.gearbox">
                         <option *ngFor="let option of gearboxTypeOptions" [value]="option">{{option}}</option> 
                    </select>
                </div>
                <div class="grid-item">
                    <label for="select2">Color</label>
                    <select formControlName="color" [(ngModel)]="formData.color">
                        <option *ngFor="let option of colorOptions" [value]="option">{{option}}</option>
                    </select>
                </div>
                <div class="grid-item">
                    <label for="select3">Emission standard</label>
                    <select formControlName="emissionStandard" [(ngModel)]="formData.emissionStandard">
                        <option *ngFor="let option of euroEmissionStandardOptions" [value]="option">{{option}}</option>
                    </select>
                </div>
                <!-- Row 3 -->
                <div class="grid-item">
                    <label for="select4">Engine type</label>
                    <select formControlName="engineType" [(ngModel)]="formData.engineType">
                        <option *ngFor="let option of engineTypeOptions" [value]="option">{{option}}</option>
                    </select>
                </div>
                <div class="grid-item">
                    <label for="Mileage">Mileage</label>
                    <input min="0" step="5000" type="number" formControlName="mileage" [(ngModel)]="formData.mileage">
                </div>
                <div class="grid-item">
                    <label for="Horse power">Horse power</label>
                    <input min="0" type="number" formControlName="horsePower" [(ngModel)]="formData.horsePower">
                </div>
                <!-- Row 4 -->
                <div class="grid-item" style="grid-column: span 2;">
                    <label for="text2">Vehicle location</label>
                    <input maxlength="50" type="text" formControlName="location" [(ngModel)]="formData.location">
                </div>
                <div class="grid-item" style="display: flex; align-items: center; justify-content: flex-end;">
                    <button type="button" (click)="closeAdditionalFields()">Close</button>
                </div>
            </div>
        </div>
</form>