
<form   [formGroup]="createAdvertForm"
        (ngSubmit)="onSubmit(createAdvertForm.value)">
        <div class="headerContaienr">
            <h1>Create advert</h1>
        </div>

        <div class="gridRowTwo gridColumnone"
            style="position: relative; top: 1px; right: 1px;">
            <label>Pictures</label>
            <div formArrayName="images">
                <ng-container *ngFor="let image of createAdvertForm.get('images')['controls']; index as i">
                    <span style="display: flex;
                                 border: 2px solid; 
                                 padding: 1px ;
                                 margin: 1px; 
                                 border-color: black;
                                 width: 100%;">
                        <input type="file" class="form-control-file" (change)="onFileSelected($event, i)"  accept="image/*" formControlName="{{i}}"/>
                        <button type="button" (click)="deleteImageInput(i)" style="background-color: red;">delete</button>
                    </span>
                </ng-container>
            </div>
            <button type="button" (click)="addAnotherImage()">Add another image</button>
        </div>

        <div class="gridRowTwo gridColumnTwo">
            <label>Brand*</label>
            <select (change)="onBrandSelect()" name="fruit" formControlName="brand">
                <option *ngFor="let brand of brands" value="{{brand}}">{{brand}}</option>
            </select>
        </div>

        <div class="gridRowThree gridColumnTwo">
            <label >Model*</label>
            <select  id="fruit" name="fruit" formControlName="model">
                <option *ngFor="let model of models" value="{{model}}">{{model}}</option>
            </select>
        </div>

        <div class="gridRowThree gridColumnone">
        <label>Engine*</label>
        <input type="text" formControlName="engine">
        </div>

        <div class="gridRowFour gridColumnone">
            <label>Price*</label>
            <input type="number" formControlName="price" min="0" pattern="\d+">
        </div>

        <div class="gridRowFour gridColumnTwo">
            <label>Date of manufacturing*</label>
            <input type="date" formControlName="dateOfManufacturing">
        </div>

        <div class="descriptionContainer">
            <label>Description</label>
            <textarea   formControlName="description"
                        placeholder="Enter additional data"></textarea>
        </div>
        <input type="submit" value="Save" id="btn"/>
</form>